@{
    ViewData["Title"] = "Help Page";
}

<h3>Help</h3>
<p><b>Writing a comment</b></p>
<div class="form-group">
    To write a comment click on a "Write a comment" button under the comment section 
</div>