@model MovieDatabase.Models.Subcomment

@{
    ViewData["Title"] = "Create subcomment";
}

@{
    var currentComment = ViewBag.replyToCommentVB;
    var user = ViewBag.replyToUserVB;
    var movie = ViewBag.movieVB;
}

<h3>Write a reply to "@currentComment.content" from user @user.UserName </h3>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="CreateSubcomment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>Reply:</p>
                <input asp-for="content" class="form-control" />
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
