@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "MovieScene";
}

<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css?t=<%= DateTime.Now.Ticks %>" />
    
</head>
<body>
    @{
        var path = Model.posterImagePath;
    }
    <div class="grid-container-main-page">
        
        
            <div class="main-page-movie">
                <div class="main-page-movie-poster">
                <img class="main-poster" src="~/images/@path" alt="model.title Poster" />
                </div>
                <div class="main-page-movie-title">
                    <h2>@Html.DisplayFor(model => model.description)</h2>
                </div>
                    <div>
                        <h3>@Html.DisplayFor(model => model.title)</h3>
                    </div>
                    <div>
                        @foreach (var a in ViewBag.actorsVB)
                        
                            @Html.Raw(a.nameSurnameLabel + ", ")
                        
                    </div>

            </div>
        
    </div>
        
</body>
