@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "MovieScene";
}

<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css?t=<%= DateTime.Now.Ticks %>" />
</head>
<body>
    
    <div class="grid-container-main-page">
        @foreach (var item in Model)

        @if(item.id == ViewBag.id)
        {
            <div class="main-page-movie">
                <div class="main-page-movie-poster">
                    <img class="main-poster" src="~/images/@item.posterImagePath" alt="@item.title Poster" />
                </div>
                <div class="main-page-movie-title">
                    <h2>@item.title</h2>
                </div>
                <div>
                    
                </div>
                <div>
                        @foreach (var actor in item.actors)
                        {
                            <h3>@actor.name</h3>
                        }
                </div>
            </div>
        }
    </div>
        
</body>
