@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/LoginStyleSheet.css" />
</head>

<div class="wrapper" id="loginForm">
    <span class="icon-close">
        <a class="fa-solid fa-xmark" style="color: #363535; text-decoration: none;" asp-controller="Home" asp-action="Index"></a>
    </span>
    <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                </span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                </span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <form>
            <button type="submit" class="btn2" asp-controller="Login" asp-action="Login">
                <i class="fa-brands fa-google" style="color: #db180a;"></i>Sign-in with Google
            </button>
            <div class="login-register">
                <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
        </form>
    </div>

    <div class="form-box register">
        <h2>Registration</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                </span>
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                </span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                </span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> I agree to the terms & conditions</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
                <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    const wrapper = document.querySelector('.wrapper');
    const loginLink = document.querySelector('.login-link');
    const registerLink = document.querySelector('.register-link');

    registerLink.addEventListener('click', () => {
        wrapper.classList.add('active');
    });

    loginLink.addEventListener('click', () => {
        wrapper.classList.remove('active');
    });
</script>
