@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/LoginStyleSheet.css" />
</head>

<div class="wrapper active" id="registerForm">
    <span class="icon-close">
        <a class="fa-solid fa-xmark" style="color: #363535; text-decoration: none;" asp-controller="Home" asp-action="Index"></a>
    </span>
    <div class="form-box register">
        <h2>Registration</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                </span>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required>
                <label>Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                </span>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" required>
                <label>Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                </span>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required>
                <label>Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" required> I agree to the terms & conditions</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
                <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    const wrapper = document.querySelector('.wrapper');
    const loginLink = document.querySelector('.login-link');

    loginLink.addEventListener('click', () => {
        wrapper.classList.remove('active');
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
