@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css" />
</head>
<body>
    <div class="grid-container-main-page">
        @foreach (var item in Model)
        {
            <div class="main-page-movie">
                <div class="main-page-movie-poster">
                    Placeholder
                </div>
                <div class="main-page-movie-title">
                    @Html.DisplayFor(modelItem => item.title)
                </div>
                <div class="main-page-star">
                    &#9733;
                </div>
                <div class="main-page-movie-rating">
                    Placeholder
                </div>
            </div>
        }
    </div>
</body>