@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css?t=<%= DateTime.Now.Ticks %>" />
</head>
<body>
    <div class="grid-container-main-page">
        @foreach (var item in Model)
        {
            <div class="main-page-movie">
                <div class="main-page-movie-poster">
                    <a href="@Url.Action("Index", "MovieScene", new { id = item.id })">
                        <img class="main-poster" src="~/images/@item.posterImagePath" alt="@item.title Poster" />
                    </a>
                </div>
                <div class="main-page-movie-title">
                    @Html.ActionLink(item.title, "Index", "MovieScene", new { id = item.id })
                </div>
                <div class="main-page-star">
                    &#9733;
                </div>
                <div class="main-page-movie-rating">
                    10
                </div>
            </div>
        }
    </div>
</body>
