@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link rel="stylesheet" href="~/css/ProfileStyleSheet.css" />
</head>

<div class="profile-container">
    <div class="profile-photo">
        <div class="photo-placeholder">
            <input type="file" id="profile-image-input" accept="image/*" style="display: none;">
            <label for="profile-image-input">
                <i class="fa-solid fa-camera" style="color: black;"></i>
            </label>
            <img id="profile-image-preview" src="#" alt="Preview" style="display: none;">
        </div>
    </div>
    <div class="profile-info">
        <div class="name-placeholder">@User.Identity.Name</div>
        <div class="statistics-header">Statistics</div>
        <div class="user-stats">
            <div class="stats-item">
                <span class="stats-text">Movies <span class="stats-number">0</span></span>
            </div>
            <div class="stats-item">
                <span class="stats-text">Watchlist <span class="stats-number">0</span></span>
            </div>
            <div class="stats-item">
                <span class="stats-text">Favorites <span class="stats-number">0</span></span>
            </div>
        </div>
    </div>
    <div class="buttons-header">My movies</div>
    <div class="profile-buttons">
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "Watchlist")'">Want to watch</button>
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "RatingsAndReviews")'">Ratings and reviews</button>
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "Favorites")'">Favorite films</button>
    </div>
</div>

<script>

    const profileImageInput = document.getElementById('profile-image-input');
    const profileImagePreview = document.getElementById('profile-image-preview');
    const chooseProfileImageLabel = document.querySelector('label[for="profile-image-input"]');

    profileImageInput.addEventListener('change', function () {
        if (profileImageInput.files && profileImageInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                profileImagePreview.src = e.target.result;
                profileImagePreview.style.display = 'block';
            };

            reader.readAsDataURL(profileImageInput.files[0]);

            chooseProfileImageLabel.style.display = 'none';
        }
    });
</script>
