body {
    background-color: #202020;
    color: #fff;
}

.favorites-title {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.grid-container-favorites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}

.favorite-movie {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.favorite-movie-poster {
    position: relative;
    overflow: hidden;
}

.favorite-movie-poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.favorite-movie:hover {
    transform: translateY(-10px); /* Move the image up slightly */
}

.favorite-movie-title {
    font-size: 1.2em;
    margin-top: 10px;
}

.favorite-movie-year {
    color: #666;
    font-size: 1em;
    margin-top: 5px;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

/* Show overlay on hover */
.favorite-movie:hover .movie-overlay {
    height: 100%;
    opacity: 1;
}

.favorite-movie:hover {
    transform: translateY(-10px); /* Move the image up slightly */
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
    outline: none;
}
