@model MovieDatabase.Models.User


@{
    ViewData["Title"] = "Watchlist";
}

<head>
    <link rel="stylesheet" href="~/css/WatchlistStyleSheet.css" />
</head>

<body>
    <div class="watchlist-title">My watchlist</div>
    <div class="grid-container-watchlist">
        <!-- foreach (var item in Model) -->
        @foreach (Movie movie in ViewBag.moviesVB)
        {
            var path = movie.posterImagePath;
            <div class="watchlist-movie">
                <div class="watchlist-movie-poster">
                    <!-- Display movie poster -->
					<!-- <img class="poster" src="~/images/item.posterImagePath" alt="item.title Poster" /> -->
                <img class="poster" src="~/images/@path" alt="Placeholder Poster" />
                </div>
                <div class="watchlist-movie-title">
                    <!-- Display movie title -->
					<!-- Html.DisplayFor(modelItem => item.title) -->
                    <h3>@Html.Raw(movie.title)</h3>
				</div>
                <div class="watchlist-movie-year">
                    <!-- Display movie year -->
					<!-- Html.DisplayFor(modelItem => item.year) -->
                    <span>2024</span>
				</div>
            </div>
        }
    </div>
</body>