@{
    ViewData["Title"] = "Watchlist";
}

<head>
    <link rel="stylesheet" href="~/css/WatchlistStyleSheet.css" />
</head>

<body>
    <div class="watchlist-title">My watchlist</div>
    <div class="grid-container-watchlist">
        <!-- foreach (var item in Model) -->
        @for (int i = 0; i < 20; i++)
        {
            <div class="watchlist-movie">
                <div class="watchlist-movie-poster">
                    <!-- Display movie poster -->
					<!-- <img class="poster" src="~/images/item.posterImagePath" alt="item.title Poster" /> -->
                <img class="poster" src="~/images/2bf4c253-4d55-42dc-97c5-235b52d92f3a_bladerunner.jpg" alt="Placeholder Poster" />
                </div>
                <div class="watchlist-movie-title">
                    <!-- Display movie title -->
					<!-- Html.DisplayFor(modelItem => item.title) -->
                    <span>Movie Title Placeholder</span>
				</div>
                <div class="watchlist-movie-year">
                    <!-- Display movie year -->
					<!-- Html.DisplayFor(modelItem => item.year) -->
                    <span>2024</span>
				</div>
            </div>
        }
    </div>
</body>