@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="director_id">director</label>
                <select asp-for="director_id" class="form-control" asp-items="ViewBag.directorVB"></select>
            </div>
            <div class="form-group">
                <label for="actors">actors</label>
                <select asp-for="actors" class="form-control" asp-items="ViewBag.actorsVB"></select>
            </div>
            <div class="form-group">
                <label for="posterImagePath" class="control-label">Upload Poster Image</label>
                <input type="file" id="posterImagePath" name="posterImagePath" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
